<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block title %} ГосУслугиРитуал {% endblock title %}


{% block content %}
<div class="index_login">
{% if form.errors %}
    <p>Пароль должен состоять из более 5 символов и  содержать цифры и буквы</p>
    <p class="index_img"> <img style="width: 350px;" src="{%static 'images/error.jpeg'%}"> </p>
{% endif %}

<form method="post" action="">
   {% csrf_token %}
   <table>
        <tr>
            <td>Новый пароль:</td> <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>Подтвердите пароль:</td> <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td><input type="submit" value="Сменить пароль"></td>
        </tr>
    </table>
</form>

</div>
{% endblock %}

{% block footer %} {% endblock footer %}

