<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block title %} ГосУслугиРитуал {% endblock title %}


{% block content %}

<div class="index_login">
<!-- Форма сброса пароля -->
<p>
            <form method="post">


          {% if form.email.errors %}  {{ form.email.errors }}  {% endif %}


        {% csrf_token %}
        <table>
            <tr> Ваш Email для отправки письма для сброса пароля<td>{{  form.email }}</td>  </tr>

          <tr><td> <input type="submit" value="Сброс пароля"> </td> </tr>


        </table>




        </form>

</p>

{% endblock %}


</div>


