

{% extends "base.html" %}
{% load static %}

{% block title %} ГосУслугиРитуал {% endblock title %}

{% block menu %}     {% endblock menu %}


{% block content %}
<section class="index_content">


<!-- <p class="index_img"> <img style="width: 350px;" src="{%static 'images/index1.jpg'%}"> </p>  -->


<p class="index_img"> <img style="width: 350px;" src="{%static 'images/5.jpg'%}"> </p>

        <p class="index_txt">

           <br>
           Наш единый номер: + 375 25 666-66-66 <br>
            Наша почта: fundeath@mail.com <br>
            Адрес: улица Пушкина, дом Колотушкина, 6. Постучите в окошко, вам откроет дверь наш охранник<br>
            <br>
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat ut
            cumque, asperiores quisquam architecto quia ullam et nostrum suscipit laborum!
            Fuga eaque quidem atque eos sequi esse ullam? Quod, voluptatem?

            </p>

</section>

{% endblock %}

